extends ../layout/index

block contenido
    div.py-10 
        h1.text-4xl.my-10.font-light.text-center.text-sans Tour Latam
        span.font-medium.text-center.text-sans.   Thank you for confirm 
        h2.text-center.font-normal.font-sans.text-3xl= pagina


    div(class='bg-white shadow py-8 px-4 rounded-lg max-w-sm mx-auto')

        p(class= error ? "bg-red-400" : 'bg-green-400').py-3.px-5.rounded-sm.w-full.text-center.font-medium.text-white= message

        if !error
            a(href="/auth/login" class=" text-center font-medium text-sm text-slate-500 mt-10 block ") You can login