
extends ../layout/index

block contenido
    div.py-10 
        img(src="", alt="")
        h1.text-4xl.my-10.font-light.text-center.text-sans Welcome to
            span.font-medium   Tour Latam 
        h2.text-center.font-normal.font-sans.text-3xl Log in 

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow.rounded
                form
                   
                    div
                        label(class="block text-sm text-gray-500 mb-2 font-medium mt-2 after:content-['*'] after:ml-0.5 after:text-red-500 " for="email")  Add your email
                        input#email( class=" mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" placeholder="Add@example.com" type="email" name="email")

                    div        
                        label(class="block text-sm text-gray-500 mb-2 font-medium mt-2 after:content-['*'] after:ml-0.5 after:text-red-500 " for="password")  Add your password
                        input#password( class=" mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" placeholder="*******" type="password" name="password")
                            
                   
                    //- input( class="w-full bg-orange-600 hover:bg-orange-400 text-white font-medium mt-3 rounded-sm py-2 shadow cursor-pointer" type="submit" value="Create account")

                    div.flex.justify-around.mt-4.mb-4.mx-auto
                            button.w-full.bg-orange-600.text-center.py-2.mt-3.text-white.rounded.font-medium.drop-shadow-sm.shadow Log in
                    
                    a(class=" text-gray-400 text-sm text-center" href="/auth/recover") You forget your password?
                    
                    hr(class="m-2 ")

                    div.flex.items-center.justify-between.mt-3
                        a(class="text-sm text-black py-3 w-full bg-gray-100 text-center font-medium rounded shadow" href="/auth/register ") Create an account   
                        