
extends ../layout/index

block contenido
    div.py-10 
        h1.text-center.font-light.font-sans.text-5xl.mb-2 Tour Latam
        
        h2.text-center.font-light.font-sans.text-3xl Recover your 
            span.font-medium password

        if errores 
             div(class="max-w-md mx-auto my-10")
                each error in errores 
                    p(class=" bg-red-500 text-white text-xs text-center p-2 mb-1 font-bold rounded-md")= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow.rounded
                form.space-y5(method="POST" action="/auth/recover" )
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label(class="block text-sm text-gray-500 mb-2 font-medium mt-2 after:content-['*'] after:ml-0.5 after:text-red-500 " for="email")  Add your email
                        input#email( class=" mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500" placeholder="Add@example.com" type="email" name="email")
                    
                    div.flex.justify-around.my-2.mx-auto
                        button.w-full.bg-orange-600.text-center.py-2.mt-3.text-white.rounded.font-medium.drop-shadow-lg.shadow Send the instructions
                    
                    hr(class="my-3 ")

                    div.flex.items-center.justify-between
                        a(class=" text-gray-400 text-sm text-center" href="/auth/login") You have an account? Log in
                        a(class=" text-gray-400 text-sm text-center" href="/auth/register") You want to create? Create account
                        