
extends ../layout/index

block contenido
    div.py-10 
        h1.text-4xl.my-10.font-light.text-center.text-sans Welcome to
            span.font-medium   Tour Latam 
        h2.text-center.font-normal.font-sans.text-3xl Sign Up 

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow.rounded
                form
                    div     
                            label.block.text-sm.text-gray-500.mb-2.font-medium(for="nombre") Add your full name
                            input#nombre.w-full.px-3.py-2.border.border-gray-200.rounded.placeholder-gray-300(placeholder="Add your name")

                            label.block.text-sm.text-gray-500.mb-2.font-medium.mt-2(for="email")  Add your email
                            input#email.w-full.px-3.py-2.border.border-gray-200.rounded.placeholder-gray-300(placeholder="Add@example.com" type="email" name="email")
                            label.block.text-sm.text-gray-500.mb-2.font-medium.mt-2(for="password")  Add your password
                            input#password.w-full.px-3.py-2.border.border-gray-200.rounded.placeholder-gray-300(placeholder="*******" type="password" name="password")
                            label.block.text-sm.text-gray-500.mb-2.font-medium.mt-2(for="password-2") Confirm your password
                            input#password-2.w-full.px-3.py-2.border.border-gray-200.rounded.placeholder-gray-300(placeholder="*******" type="password" name="password")
                    div.flex.justify-around.mt-4.mx-auto
                        button.bg-orange-600.text-center.px-16.py-2.mt-3.text-white.rounded.font-medium.drop-shadow-xl.shadow Confirmar
                        