
extends ../layout/index

block contenido
    div.py-10 
        img(src="", alt="")
        h1.text-4xl.my-10.font-light.text-center.text-sans Thank you for sign up with us
            span.font-medium   Check your email
        h2.text-center.font-normal.font-sans.text-3xl= pagina

        p.text-xl.font-medium.text-center.my-10= message
        